<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="plantilla/template :: head">
	</head>
	
	<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container">
	
	
	<div class="card bg-light">
		<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
		<div class="card-body">
	

		<form th:action="@{/views/pedidos/save}" th:object="${pedido}" method="post">
			<div class="form-group row">
			
				<input type="hidden" th:field="*{id}">

				<label class="col-md-2" for="menus">Menus:</label>
				<select th:field="${pedido.menus}" multiple="multiple">
					<option th:each="menu :${menus}" th:value="${menu.id}" 
							th:text="${menu.id}"></option>
				</select>
					
				<label for="meeting-time">Selecciona la Fecha</label> 
					<input type="datetime-local" th:field="*{fecha}" id="fecha" name="fecha"
							value="2018-06-12T19:30" min="2018-06-07T00:00"
							max="2022-06-14T00:00"> 
					
			</div>


			<div class="card-footer bd-dark">
			<input type="submit" class="btn btn-primary btn-sm" value="Guardar"/>
			</div>
		</form>
		
		</div>
		</div>
	</div>


	<footer th:replace="plantilla/template :: footer"></footer>
	
	</body>
</html>