<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="plantilla/template :: head">
	</head>
	
	<body>
	<header th:replace="plantilla/template :: header"></header>
		
		
	<div class="container text-center py-3">
		<div class="panel bg-Light">
			<div class="panel-heading">
			<img th:src="@{/images/tickVerde.png}" width="48" height="48">

			</div>
			<div class="panel-body"></div>
				<h3 class="panel-tittle text-danger">
					<span>CUIDADO</span> 		
				</h3>
				<br>
				<h4>¿Seguro que desea eliminar este tipo?</h4>
				<br>
				
				<div>
				<table align="center">
				<tr>
				<td><button class="btn btn-info" onclick="goBack()">Cancelar</button></td>
				
				
				<td><div><a class="btn btn-danger"
						th:href="@{/views/tipos/delete/} + ${id}" 
						th:text="'Eliminar'"
						title="Eliminar Tipo"
						onclick="return"
						></a></div></td>
				</tr>
				</table>
				</div>
		</div>
	</div>


	<footer th:replace="plantilla/template :: footer"></footer>
	
	<script>
		function goBack(){
			window.history.back();
		}
	</script>
</html>