<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>

<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container">
		<h1 th:text="${titulo}"></h1>
	</div>

	<div class="container">

		<a class="btn btn-primary btn-sm" th:href="@{/views/menus/create}"
			th:text="'Nuevo Menu'" title="Crear Nuevo Menu"></a>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Precio</th>
					<th scope="col">Productos</th>
					<th scope="col">Editar</th>
					<th scope="col">Eliminar</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="cl:${menus}">
					<th scope="row" th:text="${cl.id}"></th>
					<td th:text="${cl.precio}"></td>
					
					<td>
						<th:block th:each="producto,iter: ${cl.productos}">
							<label th:text="${producto.nombre}"></label><br>
						<th:block th:if="${!iter.last}"></th:block>	
						</th:block>				
					</td>
					
					<td><a class="btn btn-success btn-sm"
						th:href="@{/views/menus/edit/} + ${cl.id}" 
						th:text="'Editar'"
						title="Editar Menu"></a></td>

					<td><a class="btn btn-danger btn-sm"
						th:href="@{/views/menus/confirmDelete/} + ${cl.id}" 
						th:text="'Eliminar'"
						title="Eliminar Menu"
						
						></a></td>
				</tr>
			</tbody>
		</table>

	</div>



	<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>